<h1>New Friendship</h1>

<%= form_tag new_member_friendship_path(@member), method: :get do %>
  <div class='input-field'>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search] %>
  </div>
<% end %>

<% @members.each do |member| %>
  <div>
    <%= member.name %>

    <div class='right'>
      <% if Friendship.friends?(@member.id, member.id) %>
        Friends
      <% else %>
        <%= link_to 'Add', member_friendships_path(@member, friend_id: member.id, search: params[:search]), method: :post %>
      <% end %>
    </div>
  </div>
<% end %>
