<h1><%= @member.name %></h1>

<%= link_to 'Friends', member_friendships_path(@member), class: 'btn' %>
<%= link_to 'Add Friend', new_member_friendship_path(@member), class: 'btn' %>

<div class='card'>
  <div class='card-content'>
    <p><%= @member.website_url %></p>
    <p><%= link_to @member.website_short_url, @member.website_short_url if @member.website_short_url.present? %></p>
  </div>
</div>

<% @headings.each do |heading| %>
  <div><%= heading.value %></div>
<% end %>

<%= paginate @headings %>
